* {
  border: 0;
  padding: 0;
  margin: 0;
}

/* ==== NAVBAR ==== */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ==== HOME ==== */

.contents {
  display: block;
  margin: 10%;
}

.esconder {
  display: none;
}

.options {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.options input[ type = "button" ] {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 20%;
  border-radius: 30%;
}

.sutia {
  background-image: url(https://images.vexels.com/media/users/3/152596/isolated/preview/bc262ee4a4c0c72d6ba2af51b4cfe1ff-iacute-cone-de-suti-atilde-push-up-by-vexels.png);
  background-size: cover;
}

.conjunto {
  background-image: url(https://liebe.vteximg.com.br/arquivos/ids/168697-1000-1000/conjunto-sutia-tomara-que-caia-calcinha-fio-dental-ideal-603600-601732.png?v=637438301286200000);
  background-size: cover;
}

/* ==== CADASTRAR ==== */

.escolha {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.escolha button {
  font-size: 32px;
  display: block;
  margin: 0 auto;
}

.form {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 4px;
}

.form input[ type = "text" ] {
  border: 2px solid black;
}

.previwer_image #previwer_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 100px;
  border: 2px solid black;
  border-radius: 30%;
  opacity: 0.5;
  background: url("img/product.png");
  background-position: center;
  background-size: contain;
}

.previwer_image input[type="text"] {
  width: 95%;
}